@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/pxlrbt/filament-activity-log/resources/css/styles.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
